# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
.env/
.ipynb_checkpoints/
*.wav
*.mp3
*.log

# Models
Models/*.pkl


# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/

# Logs
*.log

# Ignore notebooks
Notebook/
*.ipynb
.ipynb_checkpoints/


Data/compliance_scenarios.xlsx
